<% cache do %>
<h1>About</h1>
<% end %>
<p class ="aboutme">We are a web development company, who specializes in bikes. We've developed a bike sharing application. You simply download the application and can find a bike parked in your local area. Simply reserve the bike and go and pick it up from the owner for use your phone to unlock the bike at the designated location.
  We are revolutioninzing the bike industry, changing the way people view bike riding.</p>
