<footer class="page-footer font-small blue pt-4 mt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row" id="footer">
      <div class="col-md-6" style="background: #b0c4de">
        <h5 class="text-uppercase">Berlin Bikes</h5>
        <p>Where technology and leisure meet</p>
      </div>

      <div class="col-md-6" style="background:#5f9ea0">
        <h5 class="text-uppercase">Social Links</h5>
        <ul class="list-unstyled social_links">
          <li>
            <a href="https://www.Facebook.com">Facebook</a>
          </li>
          <li>
            <a href="https://Twitter.com">Twitter</a>
          </li>
          <li>
            <a href="https://Youtube.com">Youtube</a>
          </li>
          <li>
            <a href="Snapchat.com">Snapchat</a>
          </li>
        </ul>
      </div>
      <!--/.Second column-->
    </div>
  </div>
  <!--/.Footer Links-->

  <!--Copyright-->
  <div class="footer-copyright py-3 text-center">
    © 2018 Copyright:
    <a href="https://facebook.com/britanniadev/"> BritanniaDEV</a>
  </div>
  <!--/.Copyright-->

</footer>
