<div id ="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% @products.each_with_index do |product, i| %>
    <li data-target="#myCarousel" data-slide-to="<%= i %>" class="<%= i == 0 ? 'active' : '' %>"></li>
    <% end %>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <% @products.each do |product| %>
    <div class="item <%= " active" if product == @products.first %>">
      <%= image_tag(product.image_url, width: "350", class: "img-responsive img-zoom product_image", data_zoom_image: product.image_url)if product.image_url.present? %>
    </div>
    <% end %>
    ...
  </div>
  <!-- Controls -->

</div>
