// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
  margin: 2em
}
th {
  text-align: left;
}
.info {
  font-size: 1.2em;
}

/*** comments ****/
.ratedcomments {
  margin: auto;

}
.ratingasc {
  float: left;
  color: gray;
}

.ratingdsc {
  float: right;
  color: gray;
}

.product_image {
  margin:auto;
  border-radius: 25%;
}
