// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-size: 1.5em;
  color: gold;
  text-align: center;
}
.navbar{
  background-color: #680E65;
  padding-bottom: 4px;
}
.navbar-nav{
  float:right;
  margin-right: 2.34em;
}

.navbar-brand {
  margin-top: 13px;
  color: #99004d;
}
.navbar-brand  {
  text-decoration: wavy;
}

.nav_links {
  color: #99004d;
  padding: 5px;
}
.nav_links a:focus, a:hover {
  color: #bfcc18;
  text-decoration: wavy;
}
.devise_form {

}
.logo {
display: inline-block;
margin: 1em;
font-size: 2em;
}

#footer {
  background-color: #88567b;
}
.intro{
  font-size: 25px;
  color: 154a2394;
}
/***contact ***/
.contact {
  text-align:center;
  padding:.5em;
}

#contactform {
  width: 50%;
  margin: auto;
}
.form_label {
  float: right;
}
/***aboutme***/
.aboutme {
  text-align:center;
  padding: 2em;
}
.searchform{
  display: inline-flex;
}

.carousel-caption {
  color: #983737;
}
.searchform1 {
  padding-bottom: 4px;
}

.field_with_errors {
  background-color: #987575;
}

.social_links {
  background: #a9a9a9;
}
