// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
  font-size: 1.5em;
  color: gold;
  text-align: center;
}
.navbar{
  background-color: #680E65;
  padding-bottom: 4px;
}
.navbar-nav{
  float:right;
}

.nav_links {
  color: #99004d;
  margin-right: 1.5em;
}
.nav_links a:focus, a:hover {
  color: #bfcc18;
  text-decoration: wavy;
}

.container-fluid {
  padding-left: 0;
}

.logo {
display: inline-block;
margin: 1em;
font-size: 2em;
}

/***nav end***/

#footer {
  background-color: #88567b;
}
.intro{
  font-size: 25px;
  color: 154a2394;
}
/***contact ***/
.contact {
  text-align:center;
  padding:.5em;
}

#contactform {
  margin: auto;
  width: fit-content;
}
/*** forms ***/
.form-group {
  color: #dc9b47;
  width: fit-content;
}
.form_label {
  float: right;
}
/***aboutme***/
.aboutme {
  text-align:center;
  padding: 2em;
}
.searchform{
  display: inline-flex;
}

.carousel-caption {
  color: #983737;
}
.searchform1 {
  padding-bottom: 4px;
}

.field_with_errors {
  background-color: #987575;
}

.social_links {
  background: #a9a9a9;
}
